@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-black: #000000;
  --color-background-gray: #111011;
  --color-background-black: #0f0e0f;
  --color-white: #ffffff;
  --color-theme: #a51c30;
  --color-text-navbar: #5c5c5c;
  --nightBlack: #212223;
  --textColor: #999999;
  --power__black: #18191a;
  --metalBlack: #2d2e2f;
  --greyBlack200: #333333;
  --navbar-color: #ffffff;
}

* {
  font-family: "Saira", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: var(--power__black);
}